<nav class="relative bg-transparent container mx-auto p-6">
    <div class="flex item-center justify-between">
        <div class="pt-2">
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="hidden md:flex space-x-6">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
</nav>